:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  --green: #67663f;
  --brown: #53372d;
  color: var(--brown);
  padding: 0;
  margin: 0;
}
body {
  margin-left: 2rem;
  margin-right: 2rem;
}
h1 {
  font-size: 50px;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.dp {
  display: inline;
  margin: 0;
  width: auto;
  border-radius: 50%;
}
.personal-note > h3 {
  margin: 0;
}
