:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #04293a;
  color: aliceblue;
}
html {
  scroll-behavior: smooth;
}
.badge {
  display: inline-block;
  margin: 1px;
  padding: 5px;
  background-color: #f6d7a7;
  border-radius: 8px;
  font-size: 10px;
}
.table {
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skills > span {
  margin: 0.5rem;
}

.intro,
.about,
.myworks,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.about {
  margin-top: 1.5rem;
}

.interactive-hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
input {
  border: solid 2px black;
  width: 50vw;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.25rem;
}
.hello-btn {
  border: none;
  font-size: 1rem;
  color: #000;
  background-color: #f6d7a7;
  padding: 0.5rem;
  margin: 0.25rem;
  transition: 300ms;
}
.hello-btn:hover {
  color: #f6d7a7;
  background-color: #000;
}

.sidebar-btn {
  padding: 0.5rem;
}

nav {
  display: none;
  padding: 0;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-element {
  display: block;
  transition: 300ms ease-in-out;
}
.nav-element > a {
  text-decoration: none;
  color: aliceblue;
}
.nav-element:hover {
  border-bottom: solid 2px #000;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #fafafa;
}
.hamburger {
  background-color: #f6d7a7;
  padding: 1rem;
}
.sidebar {
  width: 60vw;
  padding: 10px;
  margin: 0;
  background-color: #fafafa;
}
.sidebar > li {
  list-style: none;
  margin-bottom: 10px;
}
.sidebar a {
  text-decoration: none;
}
.close-sidebar {
  background-color: #f6d7a7;
  color: #04293A;
  font-size: 1.5em;
  padding: 1rem;
}

nav > ul > li {
  margin-left: 2rem;
  margin-right: 2rem;
}

.intro > h1,
h2,
h3 {
  margin: 5px;
}
.mine {
  border-radius: 50%;
}
.intro > h1 {
  margin: 0.5rem;
  font-size: 42px;
}
.desc {
  font-size: 16px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .about {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  .table {
    flex-direction: row;
  }
  nav {
    display: block;
  }
  .headerbar {
    display: none;
  }
}
